html {
	font-family: Trebuchet MS;
}

body {
	background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    height: 100%;
}

.heading {
	text-align: center;
	font-size: 26pt;
	margin-bottom: 0px;
}

.subHeading {
	text-align: center;
	font-size: 16pt;
	margin-bottom: ;
}

.customerTable {
	margin-top:10px;
}

.contractorTable{
	margin-top: 10px;
	margin-bottom: 20px;
}

.customerInfo {
	text-indent: ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.customerInfo td {
	font-size: 12pt;
	width: ;
}

button {

}

.formContainer {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 200px;
	background-color: white;
	border: 2px solid red;
}

.table-title {
    height: 90px;
    font-family: Trebuchet MS;
	text-indent: ;
	text-decoration: ;
	margin-top: 0px; 
	margin-bottom: 40px;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
    background-color: white;
    padding: 0px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #888888;
}

.explanation {
	margin-bottom: 40px;
	font-size: 12pt;
	margin-left: auto;
	margin-right: auto;
    background-color: white;
    width: 560px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.table-title h1, h3 {
    color: #2E2E2E;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 22px;
}

.townInfo {
	margin-left: 0;
	margin-right: ;
	margin-top: 20px;
	border: 1px solid black;
}

.townInfo th {
	font-size: 14pt;
	text-decoration: ;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-left: 40px;
}

.townInfo td {
	padding-left: 40px;
	padding-right: 40px;
}

tr.borderBottom th {
	border-bottom: ;
}

.newPage {
	page-break-before: always;
}

.estimatedCost{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px solid black;	
}

.estimatedCost td {
	padding-right: 20px;
	padding-left: 20px;
}
