<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/pdf.css">
    </head>
    <body>
       <div class="table-title" style="height:90px">
         <h1 style="margin-bottom:0px;color:#df0101;font-size:26pt">There was a problem!</h1>
       </div>
       <div class="explanation">
         <p style="text-align:center;font-size:12pt;font-weight:bold;padding-top:10px;padding-bottom:10px">{{ error }}</br></br>{{ suggestion }}</p>
      </div>
    </body>
</html>
